{% extends "recipes/partials/base.html" %}
{% comment %} vamos extender o arquivo base tem que ficar na primeira linha {% endcomment %}


{% comment %} agr esse arquivo tem a msm base {% endcomment %}
{% comment %} vamos adicionar o contentno block {% endcomment %}

{% block title %}
    Home | 
{% endblock title %}

{% block content %}
  <div class="main-content main-content-list container">
      {% include "recipes/partials/recipe-list.html" %}
      {% include "recipes/partials/recipe-list.html" %}
      {% include "recipes/partials/recipe-list.html" %}
  </div>
{% endblock content %}
